{% extends 'blogs/base.html' %}
{% block content %}
<div class="main-container">
    <h1 style="color: midnightblue; margin-bottom: 24px;">All Blogs</h1>

    {% for blog in blogs %}
    <div class="blog-card">
        <h2>
            <a href="{% url 'blog_detail' blog.id %}" style="color: midnightblue; text-decoration: none;">
                {{ blog.title }}
            </a>
        </h2>
        <p>By: {{ blog.get_display_author }}</p>
        <p>{{ blog.content|truncatewords:30 }}</p>

        <a href="{% url 'blog_detail' blog.id %}" class="button"
            style="text-decoration: none; display: inline-block; margin-top: 8px;">
            Read More & View Comments
        </a>
    </div>
    {% empty %}
    <p>No blogs found.</p>
    {% endfor %}
</div>
{% endblock %}