<!-- Homepage that lists all blogs -->

<!-- inherit the style/layout of main page (copies base.html's outer skeleton) -->
{% extends 'blogs/base.html' %}
<!-- start the content block that goes into base.html -->
{% block content %}

<!-- main header ("All Posts") -->
<h1 style="color: midnightblue; margin-bottom: 24px;">All Posts</h1>
{% if user.is_authenticated %}
<a href="{% url 'create_blog' %}" class="button-large"
    style="text-decoration: none; display: inline-block; margin-bottom: 24px;">Create Post</a>
{% endif %}

{% for blog in blogs %}
<!-- create a blog card within the main container for each blog (sent from views.py) -->
<div class="blog-card">
    <!-- create a clickable link (for the corresponding blog detail page) using the blog ID; paste title as link into header -->
    <h2>
        <a href="{% url 'blog_detail' blog.id %}" style="color: midnightblue; text-decoration: none;">
            {{ blog.title }}
        </a>
    </h2>
    <!-- display author's name using function in models.py -->
    <p>By: 
        {% if blog.is_orphaned or blog.is_anonymous or not blog.author %}
            {{ blog.get_display_author }}
        {% else %}
            <a href="{% url 'profile' blog.author.username %}" class="midnight-link" style="font-size: 16px;">
                {{ blog.get_display_author }}
            </a>
        {% endif %}
        {% for collab in blog.collaborations.all %}
            {% if collab.role == 'collaborator' %}
                , <a href="{% url 'profile' collab.user.username %}" class="midnight-link" style="font-size: 16px;">{{ collab.user.username }}</a>
            {% endif %}
        {% endfor %}
    </p>
    <!-- display preview of blog content (first 50 words) -->
    <p>{{ blog.content|truncatewords:50 }}</p>

    <!-- create a "Read More" button that redirects to the blog's detail page -->
    <a href="{% url 'blog_detail' blog.id %}" class="button"
        style="text-decoration: none; display: inline-block; margin-top: 8px;">
        Read More & View Comments
    </a>
</div>
<!-- displays "No blogs found" message if database is empty -->
{% empty %}
<p>No blogs found.</p>
{% endfor %}

{% endblock %}